@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn{
  animation: fadeIn 2s ease-in-out 2s;
}

.fadeOut{
  animation: fadeOut 2s ease-in-out;
}